/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Sora', sans-serif;
  background: linear-gradient(135deg, #f5f7fa, #e4ecf7);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;

}


/* Contenedor principal */
main {
  width: 90%;
  max-width: 900px;
  text-align: center;
}

/* Título */
h1 {
  font-size: 3.5rem;
  margin-bottom: 30px;
  font-family: 'Sora', sans-serif;
  letter-spacing: 1px;
}

/* Controles */
.controls {
  margin-bottom: 80px;
}

/* Select */
select {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  margin-left: 12px;
}

/* Botón */
button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  color: rgb(34, 34, 34);
  font-size: 1rem;
  font-weight: light;
  font-family: 'Sora', sans-serif;
  cursor: pointer;
  transition: 0.3s ease;

  box-shadow: 0 6px 0 rgb(161, 161, 161),
              0 6px 10px rgba(0, 0, 0, 0.4);
}

button:hover {
  transform: translateY(2px);
  box-shadow: 0 6px 0 rgb(100, 100, 100),
              0 6px 15px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(6px);
  box-shadow: 0 0px 0 rgb(100, 100, 100),
              0 3px 8px rgba(0, 0, 0, 0.3);
}


/* Paleta */
#palette {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  justify-items: center;
}

/* Círculos de color */
.color-box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 0.6rem;
  font-weight: bold;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
}

/* Hover bonito */
.color-box:hover {
  transform: scale(1.3);
}
